{% extends "base.html" %}
{% block content %}

<style>
  .button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button1[type="submit"]:hover {
    background-color: #1974D2;
    color: #ffffff;
  }
  .button1 {border-radius: 2px;}

    * {
      box-sizing: border-box;
    }

    input[type=text], select, textarea {
      width: 60%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: horizontal;
    }



    input[type=number], select, textarea {
      width: 60%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: horizontal;
    }


    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      clear: both;
    }
  </style>
  <body>

    <form method="post">
    <div class="container">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button button1">Submit</button>
    </form>
  </div>

{% endblock content %}

