{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
{% block header %}
<title>Products List</title>

      <meta charset="utf-8">
  {% endblock header %}

 <style>
   table {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      border-collapse: collapse;
      border-radius: 6px; /* Slightly rounded edges */
      overflow: hidden; /* Hide overflowing content */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 12px; /* More padding */
    }
    
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
</style>

<table>
   <tr>
               <th>Item</th>
               <th>Date Created</th>
               <th>Location</th>
   </tr>
               <tr>
{% for manufacturer in manufacturers %}
                <td><a href="{% url 'manufacturer_detail' manufacturer.pk %}">{{ manufacturer.item }}</a></td>
                <td>{{ manufacturer.date_added|date:'M d,Y H:i' }}</td>
                <td>{{ manufacturer.location }}</td>
                </tr>
                {% empty %}

                <h2>The list is empty, create a new item/product</2>

{% endfor %}
{% endblock content %}


